name: CI
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: "18.15.0"
    - run: |
       npm install
       ./node_modules/.bin/prettier --write "./sources/main.js" "./sources/index.html"
       git diff --exit-code
    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
    - uses: coursier/cache-action@v6
    - run: sbt -v
           scalafmtSbtCheck
           scalafmtCheckAll
           updateClassifiers
           test
           copyFilesFull
    - if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' && github.repository_owner == 'xuwei-k' }}
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        branch: gh-pages
        folder: sources
        clean: true
