name: CI
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  test:
    runs-on: "${{ matrix.os }}"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os:
        - "ubuntu-latest"
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: "24.8.0"
    - run: |
       npm install
       ./node_modules/.bin/prettier --write "./sources/main.js" "./sources/index.html"
       git diff --exit-code
    - uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - run: sbt -v
           scalafmtSbtCheck
           scalafmtCheckAll
           updateClassifiers
           test
           copyFilesFull
    - if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' && github.repository_owner == 'xuwei-k' && matrix.os == 'ubuntu-latest' }}
      uses: JamesIves/github-pages-deploy-action@v4.7.6
      with:
        branch: gh-pages
        folder: sources
        clean: true
